<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<h1>Producers</h1>
<ul><%@sellers.each do |seller| %>
<li><%= image_tag seller.image %></li>
<%=link_to seller.name, seller_path(seller) %>
<%end%>
</ul>
