<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  height: 50%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column-img {
    height: 250px;
    width: 250px;
}
</style>
</head>
<body>

<h1>Producers</h1>
<% @sellers.in_groups_of(3, false).each do |group| %>
  <div class='row'>
    <% group.each do |seller| %>
      <div class='col-md-3'>
        <img class="column-img" src=<%= seller.image %> >
        <h4><%= link_to seller.name, seller_path(seller) %></h4>
      </div>
    <% end %>
  </div>
<% end %>
