
<nav class="navbar navbar-default">
<div class="container-fluid" id="nav_center">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><span style="color: green"><b>Organic Foods</b></a>

        <% if current_user == session[:user_id] %>
            <a class="btn btn-default" href="/users/new" role="button">Sign in</a>
            <a class="btn btn-default" href="/login" role="button">Login</a>
            <% else %>
            <a class="btn btn-default" href="/logout" role="button" value="delete">Logout</a>
            <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            <%= link_to "Cart (#{current_cart.length})", cart_path(current_cart)%><br> 
        <% end %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><navbar-collapse >
  </div><container-fluid>
</nav>
